body{
    background-color: #f7f7f7;
}

.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.media-object{
    height: 40px;
    width: 40px;
}

.text-desc{
    font-size: 12px;
    font-weigth: normal;
    color: #999;
}
.pagination{
    float: right;
}